{% comment %}

Basic line chart that uses labels along the bottom for time-based items

Example usage:
  render(request, 'line_chart_labeled.html', {'props': {
      'title': 'City Population 2020',

      'xLabel': 'Month',
      'yLabel': 'Population',

      'labels': ['April', 'May', 'June'],

      'datasets': [
          {
              data: [100, 200, 30000],
              label: 'Kentucky',
              borderColor: '#606060',
          }, {
              data: [500, 720, 0],
              label: 'Illinois',
              borderColor: '#404040',
          }
      ],
  }})

{% endcomment %}

{% block content %}
  <div id="{{ props.id|safe }}-container">
    <canvas id="{{ props.id|safe }}"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
   var props = {{ props|safe }}
   var config = {
      type: 'line',
      data: {
        datasets: props.datasets || [],
        labels: props.labels || [],
      },
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: props.xLabel || '',
            },
          }],
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: props.yLabel || '',
            },
          }],
        },
      }
    };

   var ctx = document.getElementById('{{ props.id|safe }}').getContext('2d');
   window['{{props.id|safe}}'] = new Chart(ctx, config);

  </script>

{% endblock %}
